html,
body {
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
}

canvas {
  display: block;
}

#progress {
  width: 2px;
  height: 100%;
  left: 0px;
  position: absolute;
  background-color: blue;
}

.container {
  float: left;
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  margin: 2px;
}

.enabled {
  background-color: #ff8aff;
}

#grid {
  width: 950px;
  margin: 0 auto;
  margin-top: 100px;
}

.inputWrapper {
  margin: 2px;
}

.bpm {
  width: 48px;
  border: 1px solid gray;
  margin: 2px 2px 20px 2px;
}
