@use '../common/variables';

.pad {
  float: left;
  width: 50px;
  height: 50px;
  margin: 3px;
  border: 1px solid variables.$grey;
  border-radius: 12px;
  cursor: pointer;
}

.enabled {
  background-color: variables.$hot-pink;
  border: 1px solid variables.$hot-pink;
}

.hit {
  background-color: variables.$teal-green;
}

.playing {
  border: 1px solid variables.$teal-green;
}
