html,
body {
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
}

#main {
  width: 950px;
  margin: 0 auto;
  margin-top: 100px;
}

.cell {
  float: left;
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  margin: 2px;
}

.enabled {
  background-color: #ff8aff;
}

.playing {
  border: 2px solid black;
}

.hit {
  background-color: #ff00ff
}

.instrument {
  clear: left;
}

.togglePlayButton {
  box-shadow:inset 0px 1px 0px 0px #9acc85;
  background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  background-color:#74ad5a;
  border:1px solid #3b6e22;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}

.togglePlayButton:hover {
  background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  background-color:#68a54b;
}

.togglePlayButton:active {
  position:relative;
  top:1px;
}
