html,
body {
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
  background-color: rgb(30, 30, 46);
}

#main {
  width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
}

.cell {
  float: left;
  width: 50px;
  height: 50px;
  margin: 3px;
  border: 1px solid #555;
  border-radius: 12px;
}

.cell:hover {
  cursor: pointer;
}

.enabled {
  background-color: rgb(224, 78, 202);
  border: 1px solid rgb(224, 78, 202);
}

.playing {
  border: 1px solid rgb(0, 214, 180);
}

.hit {
  background-color: rgb(0, 214, 180);
}

.instrument {
  clear: left;
}

.removeInstrumentButton {
  border: none;
  background-color: rgb(30, 30, 46);
}
.removeInstrumentButton i {
  color: rgb(234, 88, 139);
  font-size: 3.5em;
}

.togglePlayButton {
  color: rgb(30, 30, 46);
  margin: 0 auto;
  margin-bottom: 20px;
  width: 90px;
  height: 46px;
  display: block;
  background-color: rgb(224, 78, 202);
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.togglePlayButton i {
  color: rgb(30, 30, 46);
}

.togglePlayButton:focus { outline:0; }

.togglePlayButton:hover {
  background-color: rgb(0, 214, 180);
}

