@use 'variables';

#main {
  width: 954px;
  padding-top: 100px;
  margin: 0 auto;
}

.instrument {
  clear: left;
  margin: 0 13px 0 13px;
}

.togglePlayButton {
  color: variables.$dark-blue;
  background-color: variables.$hot-pink;
  width: 120px;
  height: 100%;
  display: block;
  float: right;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: 3.2em;
}

.togglePlayButton:focus { outline: 0; }

.togglePlayButton:hover {
  background-color: variables.$teal-green;
}

.isLooping {
  background-color: variables.$teal-green !important;
}

.dashboard {
  height: 100px;
  margin: 15px;
}

.instrumentSelector {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 8px;
  width: 120px;
  padding: 4px 8px 6px 8px;
  float: left;
  display: block;
  font-size: .9em;
  background-color: variables.$dark-blue;
  color: variables.$font-color;
  border: 1px solid variables.$grey;
  list-style: none;
}

input[type='checkbox'] {
  margin-right: 6px;
}

.instrumentSelector:focus { outline: 0; }

.bpmContainer {
  float: right;
  margin-right: 10px;
}

.bpmSelector {
  width: 80px;
  border: 1px solid variables.$grey;
  border-radius: 5px;
  background-color: variables.$dark-blue;
  color: variables.$font-color;
}

.bpmSelector:focus { outline: 0; }

.blinker {
  margin: 0 auto;
  margin-top: 16px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0.2;
  background-color: variables.$teal-green;
}

.litBlinker {
  opacity: 1;
}

.shareRecordingButton {
  margin: 0 auto;
  display: block;
  margin-top: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: variables.$hot-pink;
  cursor: pointer;
}

.shareRecordingButton:hover {
  background-color: variables.$teal-green;
}

.shareRecordingButton:focus { outline: 0; }
